* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Work";
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

body {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: repeat-x;
    background-color: rgb(238, 230, 247);
    font-family: Work;
}

#card {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    width: 1000px;
    max-width: 90%;
    margin: auto;
    margin-top: 180px;
    margin-bottom: 100px;
}

#faqs{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

#faqs h1 {
    margin: 0px;
    font-size: 45px;
}

hr {
    margin: 15px 0px;
    border: 0;
    border-bottom: 1px solid rgb(237, 233, 239);
}

.qHead {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

p {
    color: rgb(149, 127, 181);
    line-height: 25px;
    margin: 25px 0px;
    overflow: hidden;
    height: 100px;
    transition: height .5s;
}

.hidden {
    height: 0px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}